@import url('./src/meta.css');
@import url('./src/inline.css');
@import url('./src/block.css');
@import url('./src/code.css');

html {
    font-size: var(--font-size);
    background-color: var(--background-color);
}
 
html,
body {  
    font-family: var(--body-font);
    text-align: justify;
}

#write {
    /* size of writing area: */
    padding-left: 22ch;
    padding-right: 22ch;
}