@import url('./meta.css');

pre.md-meta-block {
    font-family: var(--code-font);
    padding-bottom: .5rem;
}

table { padding: .8ch; }
tr, td, th { padding: .4ch; }

thead {
    text-transform: uppercase;
    font-weight: bold;
}

ol, ul { list-style-position: outside; }
ol { list-style-type: upper-roman; }
li { line-height: 1.2; }

hr {
    overflow: visible;
    padding: 0;
    border: none;
    text-align: center;
}
hr::after {
    content: "𝄞";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 1.4em;
    padding: 0 0.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: bold;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--h1-fontsize);
}
h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: var(--h2-fontsize);
}
h3 { font-size: var(--h3-fontsize); }
h4 { font-size: var(--h4-fontsize); }
h5, h6 { font-size: 1rem; }

blockquote {
    padding-left: 2ch;
    margin-left: 1ch;
    position: relative;
    overflow: hidden;
    font-family: 'EB Garamond', serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-fon-smoothing: grayscale;
}
blockquote p::first-letter {
    float: left;
    font-size: larger;
}

p {
    font-kerning: normal;
    line-break: normal;
    line-height: 150%;
}