@import url('./meta.css');

/* Material Design code fences.
    Author: Brethland  */

.cm-s-inner {
    background-color: var(--code-background-color);
    color: #424242;
}
.cm-s-inner .CodeMirror-gutters {
    background: var(--code-background-color);
}

.cm-s-inner .CodeMirror-guttermarker, .cm-s-inner .CodeMirror-guttermarker-subtle, .cm-s-inner .CodeMirror-linenumber { 
    color: #018786; 
}

.cm-s-inner .cm-keyword { color: #6200EE; }
.cm-s-inner .cm-operator { color: #6200EE; }
.cm-s-inner .cm-builtin { color: #3700B3; }
.cm-s-inner .cm-atom { color: #E64A19; }
.cm-s-inner .cm-number { color: #E64A19; }
.cm-s-inner .cm-tag { color: #E64A19; }
.cm-s-inner .cm-string { color: #689F38; }
.cm-s-inner .cm-comment { color: var(--accent-color); }
.cm-s-inner .cm-meta { color: #03DAC6; }
.cm-s-inner .cm-attribute { color: #018786; }
.cm-s-inner .cm-property { color: #303F9F; }
.cm-s-inner .cm-qualifier { color: #DECB6B; }
.cm-s-inner .cm-error { color: #B00020; }
.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: black !important;
}

.md-fences {
    background-color: white;
    color: #424242;
}

.md-fences .code-tooltip {
    background-color: white;
}

#typora-source {
    font-family: var(--code-font);
}

#typora-source .cm-header {
    color: #303F9F;
}

#typora-source .cm-strong {
    color: #303F9F;
}

#typora-source .cm-em {
    color: #303F9F;
}

#typora-source .cm-link {
    color: #E64A19; 
}

#typora-source .cm-string {
    color: #689F38;
}

#typora-source .cm-comment {
    color: var(--accent-color);
}